<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559271172289-r1f3t7uj8n4mhmldgshser24ov97t6mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559271172289-r1f3t7uj8n4mhmldgshser24ov97t6mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCG-_ra2Z7qjzREYsGswWPQg3OEyEvcWXo</string>
	<key>GCM_SENDER_ID</key>
	<string>559271172289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bellarmine.BellarmineServiceApp</string>
	<key>PROJECT_ID</key>
	<string>final-project-30200</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-30200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559271172289:ios:3f6411b974e241a1b41c40</string>
</dict>
</plist>